<h2>Welcome to Framefox Connect</h2>
<p>Hi <%= @user.first_name.presence || 'there' %>,</p>
<p>Welcome to Framefox Connect! You've been invited to set up your account.</p>
<p>To get started, please click the button below to set your password:</p>
<div class="btn-wrapper">
  <%= link_to "Set my password", @reset_password_url, class: "btn" %>
</div>
<p style="margin: 0 0 8px 0; line-height: 1.6; color: #6b7280; font-size: 13px;">Or copy and paste this URL into your browser:</p>
<p style="margin: 0 0 32px 0; word-break: break-all; color: #5469d4; font-size: 13px;"><%= @reset_password_url %></p>
<p>Once you've set your password, you'll be able to sign in at <%= link_to "Framefox Connect", root_url, style: "color: #5469d4; text-decoration: none;" %>.</p>
<p style="margin: 32px 0 0 0; line-height: 1.6; color: #6b7280; font-size: 14px;">If you didn't expect this invitation, please ignore this email.</p>
<p style="margin: 24px 0 0 0; line-height: 1.6; color: #303030;">
  Best regards,<br>
  The Framefox Team
</p>
