<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag "mailer" %>
  </head>
  <body>
    <table width="100%" cellpadding="0" cellspacing="0" border="0">
      <tr>
        <td align="center">
          <table class="email-container" cellpadding="0" cellspacing="0" border="0">
            <!-- Header -->
            <tr>
              <td class="email-header">
                <%= image_tag attachments.inline['logo-connect-sm.png'].url, alt: "Framefox Connect", class: "email-logo" %>
              </td>
            </tr>
            <!-- Content -->
            <tr>
              <td class="email-content">
                <%= yield %>
              </td>
            </tr>
            <!-- Footer -->
            <tr>
              <td class="email-footer">
                This is an automated email from Framefox Connect.<br>
                &copy; <%= Time.current.year %> Framefox. All rights reserved.
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
